# git mailmap (see git-shortlog(1))
# format: New Name <new@address> Old Name <old@address>

Andrea Brancaleoni <abc@pompel.me> Andrea Brancaleoni <andrea.brancaleoni@cleafy.com>
Andrea Brancaleoni <abc@pompel.me> Andrea Brancaleoni <miwaxe@gmail.com>
Andrea Brancaleoni <abc@pompel.me> Andrea Brancaleoni <virus@gmx.us>
Andrew Benson <abenson+void@gmail.com> Andrew Benson <abenson@gmail.com>
Andrew Benson <abenson+void@gmail.com> Andrewb Benson <abenson+void@gmail.com>
Cameron Nemo <cam@nohom.org> Cameron Nemo <cnemo@tutanota.com>
Cameron Nemo <cam@nohom.org> Cameron Nemo <camerontnorman@gmail.com>
Dominik Honnef <dominik@honnef.co> Dominik Honnef <dominikh@fork-bomb.org>
Duncaen <duncaen@renux.org> Duncaen <mail@duncano.de>
Duncaen <duncaen@renux.org> Duncan Overbruck <administrator@duncano.de>
Duncaen <duncaen@renux.org> Duncan Overbruck <mail@duncano.de>
Enno Boland <gottox@renux.org> Enno Boland <eb@s01.de>
Enno Boland <gottox@renux.org> Enno Boland <g@s01.de>
Enno Boland <gottox@renux.org> Gottox <g@s01.de>
Jan S <jan.schreib@gmail.com> jan-schreib <jan.schreib@gmail.com>
John Regan <john@jrjrtech.com> John Regan <jregan@mesonet.org>
Jürgen Buchmüller <pullmoll@t-online.de> Juergen Buchmueller <pullmoll@t-online.de>
Leah Neukirchen <leah@vuxu.org> Christian Neukirchen <chneukirchen@gmail.com>
Logen Kain <logen@sudotask.com> Logen Kain <walach.of.harkon@gmail.com>
Matt Boehlke <git@mtboehlke.com> Mat Boehlke <mtboehlke@gmail.com>
Michael Aldridge <maldridge@VoidLinux.eu> Michael Aldridge <aldridge.mac@gmail.com>
Philipp Hirsch <itself@hanspolo.net> hanspolo <ph.hanspolo@googlemail.com>
Piraty <mail@piraty.dev> Piraty <piraty@users.noreply.github.com>
Piraty <mail@piraty.dev> Piraty <piraty1@inbox.ru>
Roberto Ricci <io@r-ricci.it> <ricci@disroot.org>
Roberto Ricci <io@r-ricci.it> <52817765+4ricci@users.noreply.github.com>
Stefan Mühlinghaus <jazzman@alphabreed.com> Stefan Mühlinghaus <muehlinghaus@mmh.ag>
bougyman <bougyman@renux.eu> bougyman <bougyman@rubyists.com>
bougyman <bougyman@renux.eu> bougyman <bougyman@users.noreply.github.com>
bougyman <bougyman@renux.eu> bougyman <tj@rubyists.com>
chrome-pepper-bot <eb@s01.de> Enno Boland (bot) <g@s01.de>
onekk <carlo.dormeletti@email.it> onekk <carlo.dormeletti@alice.it>
pancake <pancake@nopcode.org> pancake <pancake@flubox.(none)>
pancake <pancake@nopcode.org> radare <pancake@nopcode.org>
xdave <davehome@redthumb.info.tm> davehome <davehome@redthumb.info.tm>
yopito <pierre.bourgin@free.fr> yopito <yopito@users.noreply.github.com>

Duncaen <duncaen@renux.org> Duncaen <duncaen@renux.eu>
Enno Boland <gottox@renux.org> Enno Boland <gottox@renux.eu>
Juan RP <xtraeme@renux.org> Juan RP <xtraeme@renux.eu>
Toyam Cox <Vaelatern@renux.org> Toyam Cox <Vaelatern@renux.eu>
ananteris <ananteris@renux.org> ananteris <ananteris@renux.eu>
bougyman <bougyman@renux.org> bougyman <bougyman@renux.eu>

Rasmus Thomsen <oss@cogitri.dev> Rasmus Thomsen <rasmus.thomsen@protonmail.com>
Rasmus Thomsen <oss@cogitri.dev> Rasmus Thomsen <cogitri@exherbo.org>

Renato Aguiar <renato@renatoaguiar.net> Renato Aguiar <renato@renag.me>
Renato Aguiar <renato@renatoaguiar.net> Renato Aguiar <contact@renatoaguiar.org>
Renato Aguiar <renato@renatoaguiar.net> Renato Aguiar <renato@aguiar.info>
Đoàn Trần Công Danh <congdanhqx@gmail.com> <congdanhqx+sgn@gmail.com>
Đoàn Trần Công Danh <congdanhqx@gmail.com> Doan Tran Cong Danh <congdanhqx@gmail.com>
John <me@johnnynator.dev> John <johnz@posteo.net>
John <me@johnnynator.dev> John Zimmermann <johnz@posteo.net>
Daniel Kolesa <daniel@octaforge.org> q66 <daniel@octaforge.org>
teldra <teldra@rotce.de> Teldra <teldra@rotce.de>
teldra <teldra@rotce.de> xor <aur@rotce.de>
Andrew J. Hesford <ajh@sideband.org> Andrew J. Hesford <ahesford@gleason.com>

howtologinquickwiththirtyninecharacters <howtologinquickwiththirtyninecharacters@users.noreply.github.com> It looks like the profile name is limited to 256 characters, just like most error messages here it says 255 characters but we know better, do we? As usual, let's try to fill it with meaningless words about nothing at all. Maybe I can reach its limit. End <61999526+howtologinquickwiththirtyninecharacters@users.noreply.github.com>

Érico Nogueira <erico.erc@gmail.com> Érico Rolim <erico.erc@gmail.com>
Adam Gausmann <adam@gaussian.dev> Adam Gausmann <agausmann@fastmail.com>
triallax <triallax@tutanota.com>
